$amusement-color-bg: #b53b30;
$amusement-color-1: #ff6e61;
$amusement-color-2: #ffcb5c;
$amusement-color-3: #88d8b0;
$amusement-color-4: #ff9900;
$amusement-color-5: #6a5bcd;

/* amusement */
body.amusement {
  background: $amusement-color-bg;

  .gradient-bg.amusement {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($amusement-color-1, 0.8) 0, rgba($amusement-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($amusement-color-2, 0.8) 0, rgba($amusement-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($amusement-color-3, 0.8) 0, rgba($amusement-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($amusement-color-4, 0.8) 0, rgba($amusement-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($amusement-color-5, 0.8) 0, rgba($amusement-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
