$anger-color: #e97070;
$anger-color-bg1: #4b0c0c;
$anger-color-bg2: #160303;
$anger-color1: #3d0a0a;
$anger-color2: #6d1c1c;
$anger-color3: #b62b2b;
$anger-color4: #f55b5b;
$anger-color5: #ff8f8f;

/* anger */
body.anger {
  background: $anger-color-bg1;

  .gradient-bg.anger {
    background: $anger-color-bg2;

    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($anger-color1, 0.8) 0, rgba($anger-color1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($anger-color2, 0.8) 0, rgba($anger-color2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($anger-color3, 0.8) 0, rgba($anger-color3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($anger-color4, 0.8) 0, rgba($anger-color4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($anger-color5, 0.8) 0, rgba($anger-color5, 0) 50%) no-repeat;
      }
    }
  }
}
