$approval-color-bg: #237626;
$approval-color-1: #4cae4f;
$approval-color-2: #8bc34b;
$approval-color-3: #cbdc38;
$approval-color-4: #ffec3d;
$approval-color-5: #ffc105;

/* approval */
body.approval {
  background: $approval-color-bg;

  .gradient-bg.approval {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($approval-color-1, 0.8) 0, rgba($approval-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($approval-color-2, 0.8) 0, rgba($approval-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($approval-color-3, 0.8) 0, rgba($approval-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($approval-color-4, 0.8) 0, rgba($approval-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($approval-color-5, 0.8) 0, rgba($approval-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
