$confusion-color-bg: #4d2d28;
$confusion-color-1: #684e4a;
$confusion-color-2: #d65f51;
$confusion-color-3: #f7b5a1;
$confusion-color-4: #f0e5c7;
$confusion-color-5: #d4e09a;

/* confusion */
body.confusion {
  background: $confusion-color-bg;

  .gradient-bg.confusion {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($confusion-color-1, 0.8) 0, rgba($confusion-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($confusion-color-2, 0.8) 0, rgba($confusion-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($confusion-color-3, 0.8) 0, rgba($confusion-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($confusion-color-4, 0.8) 0, rgba($confusion-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($confusion-color-5, 0.8) 0, rgba($confusion-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
