$disappointment-color-bg: #0e304e;
$disappointment-color-1: #b1c5e7;
$disappointment-color-2: #4682b4;
$disappointment-color-3: #4169e1;
$disappointment-color-4: #6494ed;
$disappointment-color-5: #00bfff;

/* disappointment */
body.disappointment {
  background: $disappointment-color-bg;

  .gradient-bg.disappointment {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($disappointment-color-1, 0.8) 0, rgba($disappointment-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($disappointment-color-2, 0.8) 0, rgba($disappointment-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($disappointment-color-3, 0.8) 0, rgba($disappointment-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($disappointment-color-4, 0.8) 0, rgba($disappointment-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($disappointment-color-5, 0.8) 0, rgba($disappointment-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
