$embarrassment-color-bg: #7e2020;
$embarrassment-color-1: #ffb3b3;
$embarrassment-color-2: #ffd1d1;
$embarrassment-color-3: #ffe5e5;
$embarrassment-color-4: #fff0f0;
$embarrassment-color-5: #ff8080;

/* embarrassment */
body.embarrassment {
  background: $embarrassment-color-bg;

  .gradient-bg.embarrassment {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($embarrassment-color-1, 0.8) 0, rgba($embarrassment-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($embarrassment-color-2, 0.8) 0, rgba($embarrassment-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($embarrassment-color-3, 0.8) 0, rgba($embarrassment-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($embarrassment-color-4, 0.8) 0, rgba($embarrassment-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($embarrassment-color-5, 0.8) 0, rgba($embarrassment-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
