$fear-color-bg: #1b2c2b;
$fear-color-1: #65b3a1;
$fear-color-2: #4e7e7e;
$fear-color-3: #3a5359;
$fear-color-4: #2b3f40;
$fear-color-5: #1b2c2b;

/* fear */
body.fear {
  background: $fear-color-bg;

  .gradient-bg.fear {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($fear-color-1, 0.8) 0, rgba($fear-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($fear-color-2, 0.8) 0, rgba($fear-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($fear-color-3, 0.8) 0, rgba($fear-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($fear-color-4, 0.8) 0, rgba($fear-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($fear-color-5, 0.8) 0, rgba($fear-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
