$gratitude-color-bg: #155b2f;
$gratitude-color-1: #f5b042;
$gratitude-color-2: #f6cba7;
$gratitude-color-3: #e9eab8;
$gratitude-color-4: #a3d55d;
$gratitude-color-5: #3b9b5e;

/* gratitude */
body.gratitude {
  background: $gratitude-color-bg;

  .gradient-bg.gratitude {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($gratitude-color-1, 0.8) 0, rgba($gratitude-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($gratitude-color-2, 0.8) 0, rgba($gratitude-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($gratitude-color-3, 0.8) 0, rgba($gratitude-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($gratitude-color-4, 0.8) 0, rgba($gratitude-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($gratitude-color-5, 0.8) 0, rgba($gratitude-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
