$love-color-bg: #4e2a5b;
$love-color-1: #ff009e;
$love-color-2: #ff819f;
$love-color-3: #fea0ff;
$love-color-4: #ffb2d7;
$love-color-5: #cbb2ff;

/* love */
body.love {
  background: $love-color-bg;

  .gradient-bg.love {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($love-color-1, 0.8) 0, rgba($love-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($love-color-2, 0.8) 0, rgba($love-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($love-color-3, 0.8) 0, rgba($love-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($love-color-4, 0.8) 0, rgba($love-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($love-color-5, 0.8) 0, rgba($love-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
