:root {
  --nervousness-color-fg: #ccdef0;
  --nervousness-color-bg1: 7, 64, 105;
  --nervousness-color-bg2: 3, 44, 73;
  --nervousness-color1: 87, 149, 193;
  --nervousness-color2: 57, 135, 177;
  --nervousness-color3: 38, 122, 171;
  --nervousness-color4: 19, 97, 150;
  --nervousness-color5: 9, 76, 124;
}

/* nervousness */
body.nervousness {
  background: rgb(var(--nervousness-color-bg2));

  .gradient-bg.nervousness {
    background: linear-gradient(40deg, rgb(var(--nervousness-color-bg1)), rgb(var(--nervousness-color-bg2)));
    opacity: 1;
    z-index: 2;

    div {
      animation-play-state: running;

      &.g1 {
        background: radial-gradient(circle at center, rgba(var(--nervousness-color1), 0.8) 0, rgba(var(--nervousness-color1), 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba(var(--nervousness-color2), 0.8) 0, rgba(var(--nervousness-color2), 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba(var(--nervousness-color3), 0.8) 0, rgba(var(--nervousness-color3), 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba(var(--nervousness-color4), 0.8) 0, rgba(var(--nervousness-color4), 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba(var(--nervousness-color5), 0.8) 0, rgba(var(--nervousness-color5), 0) 50%) no-repeat;
      }
    }

    .gradients-container {
      filter: url(#goo) blur(40px);
      display: block;
    }
  }
}
