$neutral-color: #ffffff;
$neutral-color-bg1: #6c00a2;
$neutral-color-bg2: #001152;
$neutral-color1: #1271ff;
$neutral-color2: #dd4aff;
$neutral-color3: #64dcff;
$neutral-color4: #c83232;
$neutral-color5: #b4b432;

/* neutral */
body.neutral {
  background: $neutral-color-bg1;

  .gradient-bg.neutral {
    background: $neutral-color-bg2;

    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($neutral-color1, 0.8) 0, rgba($neutral-color1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($neutral-color2, 0.8) 0, rgba($neutral-color2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($neutral-color3, 0.8) 0, rgba($neutral-color3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($neutral-color4, 0.8) 0, rgba($neutral-color4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($neutral-color5, 0.8) 0, rgba($neutral-color5, 0) 50%) no-repeat;
      }
    }
  }
}
