$neutral-color-bg: #001152;
$neutral-color-1: #1271ff;
$neutral-color-2: #dd4aff;
$neutral-color-3: #64dcff;
$neutral-color-4: #c83232;
$neutral-color-5: #b4b432;

/* neutral */
body.neutral {
  background: $neutral-color-bg;

  .gradient-bg.neutral {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($neutral-color-1, 0.8) 0, rgba($neutral-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($neutral-color-2, 0.8) 0, rgba($neutral-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($neutral-color-3, 0.8) 0, rgba($neutral-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($neutral-color-4, 0.8) 0, rgba($neutral-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($neutral-color-5, 0.8) 0, rgba($neutral-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
