$optimism-color-bg: #244c7f;
$optimism-color-1: #6a9cdc;
$optimism-color-2: #aed2ea;
$optimism-color-3: #f2e5a1;
$optimism-color-4: #f7a1a1;
$optimism-color-5: #f08c00;

/* optimism */
body.optimism {
  background: $optimism-color-bg;

  .gradient-bg.optimism {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($optimism-color-1, 0.8) 0, rgba($optimism-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($optimism-color-2, 0.8) 0, rgba($optimism-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($optimism-color-3, 0.8) 0, rgba($optimism-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($optimism-color-4, 0.8) 0, rgba($optimism-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($optimism-color-5, 0.8) 0, rgba($optimism-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
