$optimism-color: #ffc091;
$optimism-color-bg1: #3b6887;
$optimism-color-bg2: #244c7f;
$optimism-color1: #6a9cdc;
$optimism-color2: #aed2ea;
$optimism-color3: #f2e5a1;
$optimism-color4: #f7a1a1;
$optimism-color5: #f08c00;

/* optimism */
body.optimism {
  background: $optimism-color-bg1;

  .gradient-bg.optimism {
    background: $optimism-color-bg2;

    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($optimism-color1, 0.8) 0, rgba($optimism-color1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($optimism-color2, 0.8) 0, rgba($optimism-color2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($optimism-color3, 0.8) 0, rgba($optimism-color3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($optimism-color4, 0.8) 0, rgba($optimism-color4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($optimism-color5, 0.8) 0, rgba($optimism-color5, 0) 50%) no-repeat;
      }
    }
  }
}
