$realization-color-bg: #2f166a;
$realization-color-1: #3d292e;
$realization-color-2: #7b4c4e;
$realization-color-3: #b77b7e;
$realization-color-4: #f3b4c3;
$realization-color-5: #efc5c3;

/* realization */
body.realization {
  background: $realization-color-bg;

  .gradient-bg.realization {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($realization-color-1, 0.8) 0, rgba($realization-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($realization-color-2, 0.8) 0, rgba($realization-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($realization-color-3, 0.8) 0, rgba($realization-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($realization-color-4, 0.8) 0, rgba($realization-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($realization-color-5, 0.8) 0, rgba($realization-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
