$relief-color-bg: #365679;
$relief-color-1: #8cb9e8;
$relief-color-2: #e7f2f9;
$relief-color-3: #f9e1b4;
$relief-color-4: #f7a3a1;
$relief-color-5: #f1c84b;

/* relief */
body.relief {
  background: $relief-color-bg;

  .gradient-bg.relief {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($relief-color-1, 0.8) 0, rgba($relief-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($relief-color-2, 0.8) 0, rgba($relief-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($relief-color-3, 0.8) 0, rgba($relief-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($relief-color-4, 0.8) 0, rgba($relief-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($relief-color-5, 0.8) 0, rgba($relief-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
