$remorse-color-bg: #09242f;
$remorse-color-1: #c7d3e5;
$remorse-color-2: #a5bad5;
$remorse-color-3: #7d97b5;
$remorse-color-4: #4e7a8d;
$remorse-color-5: #2c596d;

/* remorse */
body.remorse {
  background: $remorse-color-bg;

  .gradient-bg.remorse {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($remorse-color-1, 0.8) 0, rgba($remorse-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($remorse-color-2, 0.8) 0, rgba($remorse-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($remorse-color-3, 0.8) 0, rgba($remorse-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($remorse-color-4, 0.8) 0, rgba($remorse-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($remorse-color-5, 0.8) 0, rgba($remorse-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
