$sadness-color-bg: #112650;
$sadness-color-1: #3e5c98;
$sadness-color-2: #5c7a99;
$sadness-color-3: #8fa8b7;
$sadness-color-4: #d7c1ca;
$sadness-color-5: #f1b1c3;

/* sadness */
body.sadness {
  background: $sadness-color-bg;

  .gradient-bg.sadness {
    div {
      &.g1 {
        background: radial-gradient(circle at center, rgba($sadness-color-1, 0.8) 0, rgba($sadness-color-1, 0) 50%) no-repeat;
      }
      &.g2 {
        background: radial-gradient(circle at center, rgba($sadness-color-2, 0.8) 0, rgba($sadness-color-2, 0) 50%) no-repeat;
      }
      &.g3 {
        background: radial-gradient(circle at center, rgba($sadness-color-3, 0.8) 0, rgba($sadness-color-3, 0) 50%) no-repeat;
      }
      &.g4 {
        background: radial-gradient(circle at center, rgba($sadness-color-4, 0.8) 0, rgba($sadness-color-4, 0) 50%) no-repeat;
      }
      &.g5 {
        background: radial-gradient(circle at center, rgba($sadness-color-5, 0.8) 0, rgba($sadness-color-5, 0) 50%) no-repeat;
      }
    }
  }
}
